.jumbotron {
  text-align: center;
  height: 60px;
  padding-top: 10px;
  margin-top: 20px;

}

.crystal {
  height: 200px;
}

.title{
  font-family: 'Bad Script', cursive;
  font-size: 60px;
}

.instructions{
  font-family: 'Chilanka', cursive;
  
}

.winLossText{
  font-family: 'Walter Turncoat', cursive;
}

.scoreText{
  font-family: 'Walter Turncoat', cursive;
}

.totalScoreText{
  font-family: 'Walter Turncoat', cursive;
}